*.gch
*.o
*.pyc
*.out
*.bin
*.a

log/

minimax
random_player
minimax_ab
minimax_hc
golosa
mediciones/grid_steps_emp
mediciones/grid_steps_vict
mediciones/grid_diff_local
tags
tests/tests
tests/tests_c_linea
bin/*
!bin/
!bin/odio_travis
*main
.Makefile
*.test
